.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $clr--light;
  padding-top: 2.125rem;
  padding-bottom: 0.6875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  @media (min-width: 48rem) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.logo__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3125rem;
  .logo {
    height: 1.875rem;
    @media (min-width: 64rem) {
      height: 2.25rem;
    }
    @media (min-width: 85.375rem) {
      height: 3.3125rem;
    }
  }

  .btn__expand {
    margin-left: 0.1875rem;
    position: relative;
    left: 1%;
    top: -30%;
    @media (min-width: 85.375rem) {
      display: none;
    }
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
}

.header__nav {
  & img {
    @media (min-width: 48rem) {
      max-width: 1.3125rem;
      max-height: 1.3125rem;
    }
    @media (min-width: 64rem) {
      max-width: 1.875rem;
      max-height: 1.875rem;
    }
    @media (min-width: 85.375rem) {
      width: 2.1875rem;
      width: 2.1875rem;
    }
  }
}
