.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $clr--light;
  padding-top: 2.125rem;
  padding-bottom: 0.6875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  @media (min-width: 48rem) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.logo__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3125rem;
  & .btn__expand {
    margin-left: 0.1875rem;
    position: relative;
    left: 1%;
    top: -30%;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
}
