.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $clr--light;
  padding-top: 2.125rem;
  padding-bottom: 0.6875rem;
}

.logo__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3125rem;
  & .btn__expand {
    margin-left: 3px;
    position: relative;
    left: 1%;
    top: -30%;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
}
