.hero__section {
  background: $clr--black;
  border-radius: $b-rad;
  color: $clr--light;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;

  @media (min-width: 48rem) {
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.625rem;
    padding: 3.5625rem 0;
  }
  @media (min-width: 85.375rem) {
    gap: 10.25rem;
  }
  @media (min-width: 90rem) {
    gap: 11.5rem;
  }
  @media (min-width: 120rem) {
    gap: 21.25rem;
    padding: 4.6875rem;
  }
}

.hero__img_container {
  text-align: center;
  padding: 0.75rem 0;

  @media (min-width: 48rem) {
    padding: 0;
  }
  & .hero__img {
    max-width: 14.5rem;
    max-height: 14.5rem;

    @media (min-width: 85.375rem) {
      max-width: 22.125rem;
      max-height: 22.125rem;
    }
  }

  & .hero__img_dark {
    display: none;
  }
}

.hero__text_container {
  max-width: 17.375rem;
  padding-left: 1rem;

  @media (min-width: 48rem) {
    padding: 0;
    max-width: 18.875rem;
  }
  @media (min-width: 85.375rem) {
    max-width: 28rem;
  }

  .hero__header {
    color: $clr--light;
    margin-top: 1.4375rem;

    @media (min-width: 90rem) {
      font-size: 2.375rem;
    }
    @media (min-width: 120rem) {
      font-size: 3.052rem;
    }
  }
  .hero__subheader {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0632rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;

    @media (min-width: 90rem) {
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.215rem;
    }
  }
  .subheader__first {
    @media (min-width: 48rem) {
      font-size: 1rem;
      line-height: 1.215rem;
    }
    @media (min-width: 90rem) {
      font-size: 1.125rem;
      line-height: 1.367rem;
      margin-top: 1rem;
      margin-bottom: 2.5rem;
    }
  }
}

.socials__container {
  img {
    filter: invert(100);
    filter: brightness(100);

    @media (min-width: 85.375rem) {
      width: 2.3625rem;
    }
  }
}
