.hero__section {
  background: $clr--black;
  border-radius: $b-rad;
  color: $clr--light;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.hero__img_container {
  text-align: center;
  padding: 0.75rem 0;
}

.hero__text_container {
  max-width: 17.375rem;
  padding-left: 1rem;

  .hero__header {
    color: $clr--light;
    margin-top: 1.4375rem;
  }
  .hero__subheader {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.0632rem;
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.socials__container {
  img {
    filter: invert(100);
    filter: brightness(100);
  }
}
