.title__align {
  display: flex;
  flex-direction: row;
  gap: 0.52rem;
  margin-bottom: 0.5rem;

  @media (min-width: 48rem) {
    margin-bottom: 1rem;
  }
}
.instagram__icon {
  width: 1.425rem;

  @media (min-width: 48rem) {
    width: 2.016rem;
  }
}

.instagram__link {
  color: $clr--accent;
  font-size: 1.125rem;
  line-height: 1.375;

  @media (min-width: 48rem) {
    font-size: 1.5625rem;
    line-height: 1.89875;
  }
}

.img__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1rem 0;

  @media (min-width: 48rem) {
    padding-top: 1.5rem;
  }
  & img {
    min-width: 10rem;
    border-radius: $b-rad;

    @media (min-width: 48rem) {
      max-width: 15.5rem;
    }
    @media (min-width: 85.375rem) {
      max-width: 18.875rem;
    }
  }
}
