.last-added__section {
  padding-bottom: 2rem;

  @media (min-width: 48rem) {
    padding-bottom: 2.8125rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .dot__container {
    @media (min-width: 48rem) {
      display: none;
    }
  }
}
