.last-added__section {
  padding-bottom: 2rem;
  h2 {
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 48rem) {
  .last-added__section {
    padding-bottom: 2.8125rem;

    .dot__container {
      display: none;
    }
  }
}
