.main__nav {
  @media (min-width: 64rem) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;

  @media (min-width: 48rem) {
    padding-top: 2.8125rem;
  }
  @media (min-width: 90rem) {
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
  }
  .btn__nav_expand {
    & img {
      @media (min-width: 48rem) {
        width: 1.95rem;
        height: 0.9225rem;
      }
      @media (min-width: 64rem) {
        display: none;
      }
    }
  }
}

.letter__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  @media (min-width: 90rem) {
    gap: 2rem;
  }
  .letters {
    height: 2.5rem;
    width: 12.5rem;
    border: 1px solid $clr--gray;
    border-radius: $b-rad;
    padding-left: 0.6875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
    @media (min-width: 48rem) {
      height: 3rem;
      width: 15.5rem;
    }
    @media (min-width: 85.375rem) {
      height: 2.5rem;
      width: 44.375rem;
      gap: 0;
      justify-content: space-evenly;
      padding-right: 0.6875rem;
    }

    & .letter {
      text-decoration: none;
      text-transform: uppercase;
      font-family: $font-primary;
      font-size: 1.35rem;
      line-height: 1.5rem;
      font-weight: 700;
      color: $clr--accent;
      @media (min-width: 48rem) {
        font-size: 1.375rem;
        line-height: 1.6875rem;
      }
      @media (min-width: 85.375rem) {
        font-size: 1.125rem;
        line-height: 1.375rem;
      }
    }
  }
  .btn__search_letter {
    background: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid $clr--gray;
    border-radius: 50%;

    @media (min-width: 48rem) {
      height: 3rem;
      width: 3rem;
    }
    @media (min-width: 85.375rem) {
      height: 2.5rem;
      width: 2.5rem;
    }

    & img {
      width: 1.13125rem;
      height: 1.13125rem;

      @media (min-width: 48rem) {
        width: 1.266875rem;
        height: 1.266875rem;
      }
      @media (min-width: 85.375rem) {
        width: 1.2194rem;
        height: 1.2194rem;
      }
    }
  }
}
.drop-menu__container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  background: $clr--light;
  min-width: 11.6875rem;
  height: fit-content;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
  @media (min-width: 64rem) {
    position: unset;
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;
    padding-bottom: 1rem;
  }

  .remove__menu {
    position: relative;
    left: 80%;
    padding-bottom: 1rem;
    padding-bottom: 2.5rem;
    @media (min-width: 64rem) {
      display: none;
    }
  }
  .links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    @media (min-width: 64rem) {
      flex-direction: row;
      gap: 1rem;
    }
  }
  .link {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: $clr--gray-dark;
    text-decoration: none;
    @media (min-width: 64rem) {
      font-size: 1rem;
      line-height: 1.1875rem;
    }
    @media (min-width: 90rem) {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
    @media (min-width: 120rem) {
      font-size: 1.375rem;
      line-height: 1.6875rem;
    }

    &:hover {
      color: $clr--accent;
    }
  }
}
