.main__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;

  @media (min-width: 48rem) {
    padding-top: 2.8125rem;
  }
}

.letter__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  & .letters {
    height: 2.5rem;
    width: 12.5rem;
    border: 1px solid $clr--gray;
    border-radius: $b-rad;

    @media (min-width: 48rem) {
      height: 3rem;
      width: 15.5rem;
    }
  }
  & .btn__search_letter {
    background: transparent;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid $clr--gray;
    border-radius: 50%;

    @media (min-width: 48rem) {
      height: 3rem;
      width: 3rem;
    }
    & img {
      width: 1.13125rem;
      height: 1.13125rem;

      @media (min-width: 48rem) {
        width: 1.266875rem;
        height: 1.266875rem;
      }
    }
  }

  .btn__nav_expand {
    @media (min-width: 48rem) {
      width: 1.95rem;
      height: 0.9225rem;
    }
  }
}
