* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 0.9375rem;
}
@media (min-width: 48rem) {
  main {
    padding: 0;
  }
}

h2,
h3 {
  font-family: "Comfortaa", cursive;
}

h2,
.instagram__link {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #2d2d2d;
}
@media (min-width: 48rem) {
  h2,
.instagram__link {
    font-size: 1.5625rem;
    line-height: 1.899rem;
  }
}
@media (min-width: 85.375rem) {
  h2,
.instagram__link {
    font-size: 1.875rem;
    line-height: 2.278rem;
  }
}
@media (min-width: 90rem) {
  h2,
.instagram__link {
    font-size: 2rem;
    line-height: 2.43rem;
  }
}

.section__paragraph {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #666666;
}
@media (min-width: 48rem) {
  .section__paragraph {
    font-size: 1rem;
    line-height: 1.1719rem;
  }
}
@media (min-width: 85.375rem) {
  .section__paragraph {
    font-size: 1.25rem;
    line-height: 1.465rem;
  }
}
@media (min-width: 90rem) {
  .section__paragraph {
    font-size: 1.375rem;
    line-height: 1.61rem;
  }
}

.icon__btn {
  border: none;
  background: transparent;
}
.icon__btn :hover {
  cursor: pointer;
}

.btn {
  border: none;
  background: linear-gradient(93.53deg, #ffa039 3.2%, #ff7800 100%);
  box-shadow: inset -2px -2px 6px #ffb769;
  border-radius: 0.9375rem;
  padding: 1.25em 3.25em;
  color: #fafafa;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}
@media (min-width: 48rem) {
  .btn {
    font-size: 1rem;
  }
}

.hidden {
  display: none;
}

.carousel__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.125rem;
}
@media (min-width: 48rem) {
  .carousel__container {
    margin: 0;
  }
}
.carousel__container .carousel__card_container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow: hidden;
  max-width: 100%;
}
.carousel__container .card {
  background: #ffe3c5;
  width: 9rem;
  height: 7.8125rem;
  border-radius: 0.9375rem;
}
@media (min-width: 48rem) {
  .carousel__container .card {
    width: 11.8125rem;
    height: 11.8125rem;
  }
}
@media (min-width: 85.375rem) {
  .carousel__container .card {
    width: 14.425rem;
    height: 14.425rem;
  }
}
@media (min-width: 120rem) {
  .carousel__container .card {
    width: 17rem;
    height: 17rem;
  }
}
.carousel__container .card .card__img_container {
  position: relative;
  top: -5%;
}
@media (min-width: 48rem) {
  .carousel__container .card .card__img_container {
    top: 13%;
  }
}
@media (min-width: 120rem) {
  .carousel__container .card .card__img_container {
    top: -1%;
  }
}
.carousel__container .card .card__img_container .card__img {
  width: 8.5em;
  height: 7.3125rem;
}
@media (min-width: 48rem) {
  .carousel__container .card .card__img_container .card__img {
    width: 11.22rem;
    height: 8.625rem;
  }
}
@media (min-width: 85.375rem) {
  .carousel__container .card .card__img_container .card__img {
    width: 13.696rem;
    height: 10.56875rem;
  }
}
@media (min-width: 120rem) {
  .carousel__container .card .card__img_container .card__img {
    width: 16.206rem;
    height: 17rem;
  }
}
.carousel__container .card .card__words {
  position: relative;
  top: -30.5%;
  background: #2d2d2d;
  height: 2.628125rem;
  border-radius: 0px 0.9375rem 0.9375rem 0.9375rem;
  z-index: 100;
  color: #fafafa;
  text-align: center;
}
@media (min-width: 48rem) {
  .carousel__container .card .card__words {
    top: -4%;
    height: 3.45rem;
  }
}
@media (min-width: 85.375rem) {
  .carousel__container .card .card__words {
    height: 4.21625rem;
  }
}
@media (min-width: 120rem) {
  .carousel__container .card .card__words {
    top: -30%;
    height: 5rem;
  }
}
.carousel__container .card .card__words .serbian__word {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  padding-top: 0.3125rem;
}
@media (min-width: 48rem) {
  .carousel__container .card .card__words .serbian__word {
    font-size: 1.25rem;
    line-height: 1.51875rem;
    padding-top: 0.45rem;
  }
}
@media (min-width: 120rem) {
  .carousel__container .card .card__words .serbian__word {
    font-size: 1.5rem;
    line-height: 1.8225rem;
  }
}
.carousel__container .card .card__words .english__word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 0.875rem;
  padding-bottom: 0.3125rem;
}
@media (min-width: 48rem) {
  .carousel__container .card .card__words .english__word {
    font-size: 1rem;
    line-height: 1.1718rem;
  }
}
@media (min-width: 120rem) {
  .carousel__container .card .card__words .english__word {
    font-size: 1.275rem;
    line-height: 1.611rem;
  }
}
.carousel__container .dot__container {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 0.5rem;
}
@media (min-width: 48rem) {
  .carousel__container .dot__container {
    transform: scale(2);
  }
}
@media (min-width: 85.375rem) {
  .carousel__container .dot__container {
    display: none;
  }
}
.carousel__container .dot {
  background: #ababab;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fafafa;
  padding-top: 2.125rem;
  padding-bottom: 0.6875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
@media (min-width: 48rem) {
  .header {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (min-width: 90rem) {
  .header {
    padding-top: 1.977rem;
    padding-bottom: 1.53rem;
  }
}

.logo__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3125rem;
}
.logo__container .logo {
  height: 1.875rem;
}
@media (min-width: 64rem) {
  .logo__container .logo {
    height: 2.25rem;
  }
}
@media (min-width: 85.375rem) {
  .logo__container .logo {
    height: 3.3125rem;
  }
}
@media (min-width: 90rem) {
  .logo__container .logo {
    height: 3.5rem;
  }
}
.logo__container .btn__expand {
  margin-left: 0.1875rem;
  position: relative;
  left: 1%;
  top: -30%;
}
@media (min-width: 85.375rem) {
  .logo__container .btn__expand {
    display: none;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__nav .search-word {
  height: 2.5rem;
  width: 12.5rem;
  border: 1px solid #ababab;
  border-radius: 0.9375rem;
  padding-left: 1rem;
  font-family: "Comfortaa", cursive;
  font-size: 0.75rem;
}
.header__nav .search-word::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
@media (min-width: 48rem) {
  .header__nav .search-word {
    height: 3rem;
    width: 15.5rem;
    font-size: 0.875rem;
  }
}
@media (min-width: 48rem) {
  .header__nav img {
    max-width: 1.3125rem;
    max-height: 1.3125rem;
  }
}
@media (min-width: 64rem) {
  .header__nav img {
    max-width: 1.875rem;
    max-height: 1.875rem;
  }
}
@media (min-width: 85.375rem) {
  .header__nav img {
    width: 2.1875rem;
  }
}
@media (min-width: 90rem) {
  .header__nav img {
    width: 2.3125rem;
  }
}

@media (min-width: 64rem) {
  .main__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;
}
@media (min-width: 48rem) {
  .nav__container {
    padding-top: 2.8125rem;
  }
}
@media (min-width: 90rem) {
  .nav__container {
    padding-top: 2.5rem;
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 48rem) {
  .nav__container .btn__nav_expand img {
    width: 1.95rem;
    height: 0.9225rem;
  }
}
@media (min-width: 64rem) {
  .nav__container .btn__nav_expand img {
    display: none;
  }
}

.letter__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
@media (min-width: 90rem) {
  .letter__container {
    gap: 2rem;
  }
}
.letter__container .letters {
  height: 2.5rem;
  width: 12.5rem;
  border: 1px solid #ababab;
  border-radius: 0.9375rem;
  padding-left: 0.6875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
}
@media (min-width: 48rem) {
  .letter__container .letters {
    height: 3rem;
    width: 15.5rem;
  }
}
@media (min-width: 85.375rem) {
  .letter__container .letters {
    height: 2.5rem;
    width: 44.375rem;
    gap: 0;
    justify-content: space-evenly;
    padding-right: 0.6875rem;
  }
}
.letter__container .letters .letter {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Comfortaa", cursive;
  font-size: 1.35rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #ff7800;
}
@media (min-width: 48rem) {
  .letter__container .letters .letter {
    font-size: 1.375rem;
    line-height: 1.6875rem;
  }
}
@media (min-width: 85.375rem) {
  .letter__container .letters .letter {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
}
.letter__container .btn__search_letter {
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #ababab;
  border-radius: 50%;
}
@media (min-width: 48rem) {
  .letter__container .btn__search_letter {
    height: 3rem;
    width: 3rem;
  }
}
@media (min-width: 85.375rem) {
  .letter__container .btn__search_letter {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.letter__container .btn__search_letter img {
  width: 1.13125rem;
  height: 1.13125rem;
}
@media (min-width: 48rem) {
  .letter__container .btn__search_letter img {
    width: 1.266875rem;
    height: 1.266875rem;
  }
}
@media (min-width: 85.375rem) {
  .letter__container .btn__search_letter img {
    width: 1.2194rem;
    height: 1.2194rem;
  }
}

.drop-menu__container {
  position: absolute;
  right: 0;
  top: 0;
  background: #fafafa;
  min-width: 11.6875rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 7.5rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 64rem) {
  .drop-menu__container {
    position: unset;
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;
    padding-bottom: 1rem;
  }
}
.drop-menu__container .remove__menu {
  position: relative;
  left: 80%;
  padding-bottom: 1rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 64rem) {
  .drop-menu__container .remove__menu {
    display: none;
  }
}
.drop-menu__container .links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
@media (min-width: 64rem) {
  .drop-menu__container .links {
    flex-direction: row;
    gap: 1rem;
  }
}
.drop-menu__container .link {
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.063rem;
  color: #666666;
  text-decoration: none;
}
@media (min-width: 64rem) {
  .drop-menu__container .link {
    font-size: 1rem;
    line-height: 1.1875rem;
  }
}
@media (min-width: 90rem) {
  .drop-menu__container .link {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}
@media (min-width: 120rem) {
  .drop-menu__container .link {
    font-size: 1.375rem;
    line-height: 1.6875rem;
  }
}
.drop-menu__container .link:hover {
  color: #ff7800;
}

.hero__section {
  background: #2d2d2d;
  border-radius: 0.9375rem;
  color: #fafafa;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 48rem) {
  .hero__section {
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.625rem;
    padding: 3.5625rem 0;
  }
}
@media (min-width: 85.375rem) {
  .hero__section {
    gap: 10.25rem;
  }
}
@media (min-width: 90rem) {
  .hero__section {
    gap: 11.5rem;
  }
}
@media (min-width: 120rem) {
  .hero__section {
    gap: 21.25rem;
    padding: 4.6875rem;
  }
}

.hero__img_container {
  text-align: center;
  padding: 0.75rem 0;
}
@media (min-width: 48rem) {
  .hero__img_container {
    padding: 0;
  }
}
.hero__img_container img {
  max-width: 14.5rem;
  max-height: 14.5rem;
}
@media (min-width: 85.375rem) {
  .hero__img_container img {
    max-width: 22.125rem;
    max-height: 22.125rem;
  }
}

.hero__text_container {
  max-width: 17.375rem;
  padding-left: 1rem;
}
@media (min-width: 48rem) {
  .hero__text_container {
    padding: 0;
    max-width: 18.875rem;
  }
}
@media (min-width: 85.375rem) {
  .hero__text_container {
    max-width: 28rem;
  }
}
.hero__text_container .hero__header {
  color: #fafafa;
  margin-top: 1.4375rem;
}
@media (min-width: 90rem) {
  .hero__text_container .hero__header {
    font-size: 2.375rem;
  }
}
@media (min-width: 120rem) {
  .hero__text_container .hero__header {
    font-size: 3.052rem;
  }
}
.hero__text_container .hero__subheader {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0632rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 90rem) {
  .hero__text_container .hero__subheader {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.215rem;
  }
}
@media (min-width: 48rem) {
  .hero__text_container .subheader__first {
    font-size: 1rem;
    line-height: 1.215rem;
  }
}
@media (min-width: 90rem) {
  .hero__text_container .subheader__first {
    font-size: 1.125rem;
    line-height: 1.367rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
}

.socials__container img {
  filter: invert(100);
  filter: brightness(100);
}
@media (min-width: 85.375rem) {
  .socials__container img {
    width: 2.3625rem;
  }
}

.last-added__section {
  padding-bottom: 2rem;
}
@media (min-width: 48rem) {
  .last-added__section {
    padding-bottom: 2.8125rem;
  }
}
@media (min-width: 85.375rem) {
  .last-added__section {
    padding: 0 10.75rem;
    margin-top: 3.5rem;
  }
}
.last-added__section h2 {
  margin-bottom: 1.5rem;
}
@media (min-width: 48rem) {
  .last-added__section .dot__container {
    display: none;
  }
}

.suggest-word__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-bottom: 3.125rem;
}
.suggest-word__section .btn {
  margin-top: 0.5rem;
}
@media (min-width: 48rem) {
  .suggest-word__section {
    gap: 1rem;
  }
}
@media (min-width: 85.375rem) {
  .suggest-word__section {
    padding: 0 10.75rem;
    margin-top: 3.5rem;
  }
}

.frequently__section {
  padding-bottom: 2rem;
}
@media (min-width: 85.375rem) {
  .frequently__section {
    padding: 0 10.75rem;
    margin-top: 3.5rem;
  }
}
.frequently__section h2 {
  margin-bottom: 2.1875rem;
}
@media (min-width: 85.375rem) {
  .frequently__section h2 {
    margin-bottom: 1.5rem;
  }
}

.title__align {
  display: flex;
  flex-direction: row;
  gap: 0.52rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 48rem) {
  .title__align {
    margin-bottom: 1rem;
  }
}

.instagram__icon {
  width: 1.425rem;
}
@media (min-width: 48rem) {
  .instagram__icon {
    width: 2.016rem;
  }
}
@media (min-width: 85.375rem) {
  .instagram__icon {
    width: 2.3125rem;
  }
}

.instagram__link {
  color: #ff7800;
}

.img__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1rem 0;
}
@media (min-width: 48rem) {
  .img__container {
    padding-top: 1.5rem;
  }
}
@media (min-width: 85.375rem) {
  .img__container {
    padding-top: 2rem;
  }
}
.img__container img {
  min-width: 10rem;
  border-radius: 0.9375rem;
}
@media (min-width: 48rem) {
  .img__container img {
    max-width: 15.5rem;
  }
}
@media (min-width: 85.375rem) {
  .img__container img {
    max-width: 18.875rem;
  }
}
@media (min-width: 90rem) {
  .img__container img {
    max-width: 20.0625rem;
  }
}
@media (min-width: 120rem) {
  .img__container img {
    max-width: 26.9375rem;
  }
}

@media (min-width: 48rem) {
  .main__nav,
.last-added__section,
.suggest-word__section,
.frequently__section,
.instagram__section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (min-width: 64rem) {
  .last-added__section,
.suggest-word__section,
.frequently__section,
.instagram__section {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media (min-width: 85.375rem) {
  .last-added__section,
.suggest-word__section,
.frequently__section,
.instagram__section {
    padding: 0 10.75rem;
    margin-top: 3.5rem;
  }
}
@media (min-width: 90rem) {
  .last-added__section,
.suggest-word__section,
.frequently__section,
.instagram__section {
    padding: 0 7.5625rem;
    margin-top: 4.5rem;
  }
}
@media (min-width: 120rem) {
  .last-added__section,
.suggest-word__section,
.frequently__section,
.instagram__section {
    padding: 0 10.0625rem;
  }
}/*# sourceMappingURL=main.css.map */