* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.icon__btn {
  border: none;
  background: transparent;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 0.9375rem;
}

h2,
h3 {
  font-family: "Comfortaa", cursive;
}

h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #2d2d2d;
}

.btn {
  border: none;
  background: linear-gradient(93.53deg, #ffa039 3.2%, #ff7800 100%);
  box-shadow: inset -2px -2px 6px #ffb769;
  border-radius: 0.9375rem;
  padding: 1em 3em;
  color: #fafafa;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.section__paragraph {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #666666;
}

.card {
  background: #ffe3c5;
  width: 9rem;
  height: 7.8125rem;
  border-radius: 0.9375rem;
}
.card .card__img_container {
  position: relative;
  top: -5%;
}
.card .card__img_container .card__img {
  width: 8.5rem;
  height: 7.3125rem;
}
.card .card__words {
  position: relative;
  top: -30.5%;
  background: #2d2d2d;
  height: 2.628125rem;
  border-radius: 0px 0.9375rem 0.9375rem 0.9375rem;
  z-index: 100;
  color: #fafafa;
  text-align: center;
}
.card .card__words .serbian__word {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  padding-top: 0.3125rem;
}
.card .card__words .english__word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 0.875rem;
  padding-bottom: 0.3125rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fafafa;
  padding-top: 2.125rem;
  padding-bottom: 0.6875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.logo__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3125rem;
}
.logo__container .btn__expand {
  margin-left: 0.1875rem;
  position: relative;
  left: 1%;
  top: -30%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
}

.main__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;
}

.letter__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.letter__container .letters {
  height: 2.5rem;
  width: 12.5rem;
  border: 1px solid #ababab;
  border-radius: 0.9375rem;
}
.letter__container .btn__search_letter {
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #ababab;
  border-radius: 50%;
}

.hero__section {
  background: #2d2d2d;
  border-radius: 0.9375rem;
  color: #fafafa;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.hero__img_container {
  text-align: center;
  padding: 0.75rem 0;
}

.hero__text_container {
  max-width: 17.375rem;
  padding-left: 1rem;
}
.hero__text_container .hero__header {
  color: #fafafa;
  margin-top: 1.4375rem;
}
.hero__text_container .hero__subheader {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0632rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.socials__container img {
  filter: invert(100);
  filter: brightness(100);
}

.last-added__section {
  padding-bottom: 2rem;
}
.last-added__section h2 {
  margin-bottom: 1.5rem;
}

.carousel__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.125rem;
}

.carousel__card_container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.dot__container {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 0.5rem;
}

.dot {
  background: #ababab;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}

.suggest-word__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-bottom: 3.125rem;
}
.suggest-word__section .btn {
  margin-top: 0.5rem;
}

.frequently__section {
  padding-bottom: 2rem;
}
.frequently__section h2 {
  margin-bottom: 2.1875rem;
}

.title__align {
  display: flex;
  flex-direction: row;
  gap: 0.52rem;
  margin-bottom: 0.5rem;
}

.instagram__icon {
  width: 1.425rem;
}

.instagram__link {
  color: #ff7800;
  font-size: 1.125rem;
  line-height: 1.375;
}

.img__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1rem 0;
}
.img__container img {
  min-width: 10rem;
  border-radius: 0.9375rem;
}/*# sourceMappingURL=main.css.map */