* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 0.9375rem;
}

h2,
h3 {
  font-family: "Comfortaa", cursive;
}

h2 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #2d2d2d;
}

.section__paragraph {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #666666;
}

.icon__btn {
  border: none;
  background: transparent;
}

.btn {
  border: none;
  background: linear-gradient(93.53deg, #ffa039 3.2%, #ff7800 100%);
  box-shadow: inset -2px -2px 6px #ffb769;
  border-radius: 0.9375rem;
  padding: 1.25em 3.25em;
  color: #fafafa;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

@media (min-width: 48rem) {
  main {
    padding: 0;
  }
  h2 {
    font-size: 1.5625rem;
    line-height: 1.899rem;
  }
  .section__paragraph {
    font-size: 1rem;
    line-height: 1.1719rem;
  }
  .header,
.main__nav,
.last-added__section,
.suggest-word__section,
.frequently__section,
.instagram__section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .btn {
    font-size: 1rem;
  }
}
.carousel__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.125rem;
}

.carousel__card_container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.card {
  background: #ffe3c5;
  width: 9rem;
  height: 7.8125rem;
  border-radius: 0.9375rem;
}
.card .card__img_container {
  position: relative;
  top: -5%;
}
.card .card__img_container .card__img {
  width: 8.5em;
  height: 7.3125rem;
}
.card .card__words {
  position: relative;
  top: -30.5%;
  background: #2d2d2d;
  height: 2.628125rem;
  border-radius: 0px 0.9375rem 0.9375rem 0.9375rem;
  z-index: 100;
  color: #fafafa;
  text-align: center;
}
.card .card__words .serbian__word {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  padding-top: 0.3125rem;
}
.card .card__words .english__word {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 0.875rem;
  padding-bottom: 0.3125rem;
}

.dot__container {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 0.5rem;
}

.dot {
  background: #ababab;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}

@media (min-width: 48rem) {
  .carousel__container {
    margin: 0;
  }
  .card {
    width: 11.8125rem;
    height: 11.8125rem;
  }
  .card .card__img_container {
    position: relative;
    top: 13%;
  }
  .card .card__img_container .card__img {
    width: 11.22rem;
    height: 8.625rem;
  }
  .card .card__words {
    position: relative;
    top: -4%;
    height: 3.45rem;
  }
  .card .card__words .serbian__word {
    font-size: 1.25rem;
    line-height: 1.51875rem;
    padding-top: 0.45rem;
  }
  .card .card__words .english__word {
    font-size: 1rem;
    line-height: 1.1718rem;
  }
  .dot__container {
    transform: scale(2);
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fafafa;
  padding-top: 2.125rem;
  padding-bottom: 0.6875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.logo__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.3125rem;
}
.logo__container .btn__expand {
  margin-left: 0.1875rem;
  position: relative;
  left: 1%;
  top: -30%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 0.875rem;
}

.main__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.75rem;
  padding-bottom: 3.5rem;
}

.letter__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.letter__container .letters {
  height: 2.5rem;
  width: 12.5rem;
  border: 1px solid #ababab;
  border-radius: 0.9375rem;
}
.letter__container .btn__search_letter {
  background: transparent;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #ababab;
  border-radius: 50%;
}
.letter__container .btn__search_letter img {
  width: 1.13125rem;
  height: 1.13125rem;
}

@media (min-width: 48rem) {
  .main__nav {
    padding-top: 2.8125rem;
  }
  .letters {
    height: 3rem;
    width: 15.5rem;
  }
  .btn__search_letter {
    height: 3rem;
    width: 3rem;
  }
  .btn__search_letter img {
    width: 1.266875rem;
    height: 1.266875rem;
  }
  .btn__nav_expand {
    width: 1.95rem;
    height: 0.9225rem;
  }
}
.hero__section {
  background: #2d2d2d;
  border-radius: 0.9375rem;
  color: #fafafa;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.hero__img_container {
  text-align: center;
  padding: 0.75rem 0;
}

.hero__text_container {
  max-width: 17.375rem;
  padding-left: 1rem;
}
.hero__text_container .hero__header {
  color: #fafafa;
  margin-top: 1.4375rem;
}
.hero__text_container .hero__subheader {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.0632rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.socials__container img {
  filter: invert(100);
  filter: brightness(100);
}

@media (min-width: 48rem) {
  .hero__section {
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4.625rem;
    padding: 3.5625rem 0;
  }
  .hero__section .hero__img_container {
    padding: 0;
  }
  .hero__section .hero__img_container img {
    max-width: 14.5rem;
    max-height: 14.5rem;
  }
  .hero__section .hero__text_container {
    padding: 0;
    max-width: 18.875rem;
  }
  .hero__section .subheader__first {
    font-size: 1rem;
  }
}
.last-added__section {
  padding-bottom: 2rem;
}
.last-added__section h2 {
  margin-bottom: 1.5rem;
}

@media (min-width: 48rem) {
  .last-added__section {
    padding-bottom: 2.8125rem;
  }
  .last-added__section .dot__container {
    display: none;
  }
}
.suggest-word__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding-bottom: 3.125rem;
}
.suggest-word__section .btn {
  margin-top: 0.5rem;
}

.frequently__section {
  padding-bottom: 2rem;
}
.frequently__section h2 {
  margin-bottom: 2.1875rem;
}

.title__align {
  display: flex;
  flex-direction: row;
  gap: 0.52rem;
  margin-bottom: 0.5rem;
}

.instagram__icon {
  width: 1.425rem;
}

.instagram__link {
  color: #ff7800;
  font-size: 1.125rem;
  line-height: 1.375;
}

.img__container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1rem 0;
}
.img__container img {
  min-width: 10rem;
  border-radius: 0.9375rem;
}

@media (min-width: 48rem) {
  .instagram__section .title__align {
    margin-bottom: 1rem;
  }
  .instagram__section .instagram__icon {
    width: 2.016rem;
  }
  .instagram__section .instagram__link {
    font-size: 1.5625rem;
    line-height: 1.89875;
  }
  .instagram__section .img__container {
    padding-top: 1.5rem;
  }
  .instagram__section .img__container img {
    max-width: 15.5rem;
  }
}/*# sourceMappingURL=main.css.map */